@import "config";
@import "Header";
@import "Body";
@import "InventoryItem";
@import "Menu";
@import "Modal";
@import "Expenses";
@import "AboutView";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eceaea;
  height: 100vh;
  width: 100vw;
}

img {
  width: 100%;
}

.card {
  background: #fff;
  padding: 1rem 0.5rem;
  margin: 0 0.8rem 0.5rem;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.blur {
  // filter: blur(1px);
}

.dark-background {
  height: 100vh;
  width: 100vw;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 10;
}

.App {
}

.LocationGroup {
  .location {
    margin: 1rem 0 1rem 1rem;
  }

  li {
    list-style: none;
  }
}

.modal-location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  p {
    // margin-right: 4rem;
  }

  select {
    width: 70%;
    margin: 0 auto 0;
  }
}

a {
  border: #fff 2px solid;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: darken($primary-color, $amount: 2);
  font-weight: 700;
}
